workflows/onDownloadFinished.json
{
  "name": "onDownloadFinished",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{$node[\"listen download\"].json[\"content\"]}}",
              "value2": "finished"
            }
          ]
        }
      },
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        620,
        310
      ]
    },
    {
      "parameters": {
        "queue": "extract_queue",
        "options": {
          "durable": true
        }
      },
      "name": "trigger extract",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        930,
        290
      ],
      "credentials": {
        "rabbitmq": "rabbitcredentials"
      }
    },
    {
      "parameters": {
        "queue": "download_queue",
        "options": {
          "durable": true
        }
      },
      "name": "listen download",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        410,
        310
      ],
      "credentials": {
        "rabbitmq": "rabbitcredentials"
      }
    }
  ],
  "connections": {
    "IF2": {
      "main": [
        [
          {
            "node": "trigger extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "listen download": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "4"
}