workflows/onNewJob.json
{
  "name": "onNewJob",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "queue": "download_queue",
        "options": {
          "durable": true
        }
      },
      "name": "trigger download",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        930,
        160
      ],
      "credentials": {
        "rabbitmq": "rabbitcredentials"
      }
    },
    {
      "parameters": {
        "queue": "extract_queue",
        "options": {
          "durable": true
        }
      },
      "name": "trigger extract",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1250,
        450
      ],
      "credentials": {
        "rabbitmq": "rabbitcredentials"
      }
    },
    {
      "parameters": {
        "queue": "general_queue",
        "options": {
          "durable": true
        }
      },
      "name": "listen for jobs",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "credentials": {
        "rabbitmq": "rabbitcredentials"
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{$node[\"listen for jobs\"].json[\"content\"]}}",
              "operation": "contains",
              "value2": "http"
            }
          ]
        }
      },
      "name": "IF job contains link",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        300
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{$node[\"listen for jobs\"].json[\"content\"]}}",
              "operation": "contains",
              "value2": "file://"
            },
            {
              "value1": "={{$node[\"listen for jobs\"].json[\"content\"]}}",
              "operation": "endsWith",
              "value2": "zip\""
            }
          ]
        }
      },
      "name": "IF job contains zip file",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        850,
        470
      ],
      "executeOnce": true
    }
  ],
  "connections": {
    "listen for jobs": {
      "main": [
        [
          {
            "node": "IF job contains link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF job contains link": {
      "main": [
        [
          {
            "node": "trigger download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF job contains zip file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF job contains zip file": {
      "main": [
        [
          {
            "node": "trigger extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "3"
}