workflows/result_listener.json
{
  "name": "result_listener",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "queue": "results",
        "options": {}
      },
      "name": "result listener",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        520,
        320
      ],
      "credentials": {
        "rabbitmq": "rabbitcredentials"
      }
    },
    {
      "parameters": {
        "functionCode": "try {\n  var task = JSON.parse(items[0].json.content);\n  console.log('task', JSON.stringify(task));\n  if (task && task.nextJob && task.nextJob.job) {\n    task.job[task.nextJob.idx] = task.nextJob.job;\n    delete task.nextJob;\n  }\n} catch (e) {\n  console.log('exception: ', e, items[0]);\n}\nconsole.log(JSON.stringify(task));\nitems[0].json.content = task;\nreturn items;\n\n"
      },
      "name": "handle response and modify job json",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        800,
        330
      ]
    },
    {
      "parameters": {
        "queue": "job_queue",
        "options": {}
      },
      "name": "send back to job queue to run next step in job",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1130,
        320
      ],
      "credentials": {
        "rabbitmq": "rabbitcredentials"
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"handle response and modify job json\"].json.content[\"status\"]}}",
              "value2": "success"
            }
          ]
        }
      },
      "name": "overall job success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        770,
        380
      ]
    },
    {
      "parameters": {
        "functionCode": "console.log('Job done!');\n\nreturn items;"
      },
      "name": "return overall success",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1040,
        250
      ]
    }
  ],
  "connections": {
    "result listener": {
      "main": [
        [
          {
            "node": "handle response and modify job json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "handle response and modify job json": {
      "main": [
        [
          {
            "node": "overall job success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "overall job success": {
      "main": [
        [
          {
            "node": "return overall success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send back to job queue to run next step in job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "8"
}
